body
  font-family sans-serif
  > div
    display inline-block

$square_px = 25px
$empty_square_bg = #bbb
$visible_square_bg = #f8f8f8
$flag_bg = yellow
$border_color = black
$btn_bg = yellow
$btn_font_color = black
$counter_red = red

.controls
  display block
  margin-bottom 10px
  position relative
  text-align center
  > .bombs, >.timer
    background black
    box-sizing border-box
    color $counter_red
    display inline-block
    font-size 32px
    padding 2px 4px
    position absolute
    &.bombs
      left 0
    &.timer
      right 0
  > .new
    background $btn_bg
    border 1px solid black
    border-radius 50%
    color $btn_font_color
    cursor pointer
    box-sizing border-box
    display inline-block
    font-size 20px
    padding-top 10px
    height 44px
    width 44px

$one_color = blue
$two_color = green
$three_color = red
$four_color = purple
$bomb_bg = pink

.board
  box-sizing border-box
  border-right 1px solid $border_color
  border-bottom 1px solid $border_color
  display inline-block
  > .row
    display block
    height $square_px
    > .square
      background $visible_square_bg
      box-sizing border-box
      border-top 1px solid $border_color
      border-left 1px solid $border_color
      color black
      display inline-block
      height $square_px
      text-align center
      line-height $square_px
      vertical-align top
      width $square_px
      -moz-user-select none
      -webkit-user-select none
      user-select none
      ::selection
        background transparent
      &.empty
        background $empty_square_bg
      &.flag
        background $flag_bg
      &.bomb
        background $bomb_bg
      &._1
        color $one_color
      &._2
        color $two_color
      &._3
        color $three_color
      &._4
        color $four_color
