body
  font-family sans-serif
  > div
    display inline-block

$square_px = 25px
$empty_square_bg = #bbb
$flag_bg = yellow
$border_color = black
$btn_bg = yellow
$btn_font_color = black
$counter_red = red

.controls
  display block
  margin-bottom 10px
  position relative
  text-align center
  > .bombs
    background black
    box-sizing border-box
    color $counter_red
    display inline-block
    font-size 32px
    padding 2px 4px
    position absolute
    left 0
  > .new
    background $btn_bg
    border 1px solid black
    border-radius 50%
    color $btn_font_color
    cursor pointer
    box-sizing border-box
    display inline-block
    padding-top 12px
    height 44px
    width 44px


.board
  box-sizing border-box
  border-right 1px solid $border_color
  border-bottom 1px solid $border_color
  display inline-block
  > .row
    display block
    height $square_px
    > .square
      box-sizing border-box
      border-top 1px solid $border_color
      border-left 1px solid $border_color
      display inline-block
      height $square_px
      text-align center
      line-height $square_px
      vertical-align top
      width $square_px
      ::selection
        background transparent
      &.empty
        background $empty_square_bg
      &.flag
        background $flag_bg
